<div class="explore-page">

    <div class="search-container">
        @Html.Partial("_advancedSearch")
    </div>

    <div id="resultsContainer" class="results-grid"></div>
    <div id="scrollSentinel"></div>
    <div id="loadingIndicator" class="loading">
        Loading more frames...
    </div>

</div>

<div id="detailPanel" class="detail-panel hidden">
    <div class="panel-header">
        <div class="panel-title"> Frame Details</div>
        <button onclick="closePanel()">X</button>    
    </div>

    <div class="panel-body">
        <div class="panel-content">
            <div class="top-tabs">
                <div class="tab active" onclick="switchTab('imageTab', this)">
                Image
                </div>
                <div class="tab" onclick="switchTab('videoTab', this)">
                Video
                </div>
            </div>
        </div>

        <div class="tab-content">
            <!-- IMAGE TAB -->
            <div id="imageTab" class="tab-pane active">

                <div class="image-container">
                    <img id="detailImage" class="detail-image zoomable" />
                </div>

                <div class="details">
                    <div><strong>Label:</strong> <span id="dLabel"></span></div>
                    <div><strong>Confidence:</strong> <span id="dConfidence"></span></div>
                    <div><strong>Time:</strong> <span id="dTime"></span></div>
                    <div><strong>Video:</strong> <span id="dVideo"></span></div>
                </div>

            </div>
            <!-- VIDEO TAB -->
            <div id="videoTab" class="tab-pane">

                <video id="videoPlayer" controls preload="metadata" class="video-player"></video>
                <div id="timelineWrapper">

                    <div id="timelineBar"></div>

                </div>
            </div>
        </div>
    </div>

    <div class="panel-footer">
        <button id="prevBtn" onclick="prevFrame()">⬅ Prev</button>
        <button id="nextBtn" onclick="nextFrame()">Next ➡</button>
    </div>

</div>

@section Scripts {
    <script src="~/Js/AdvancedSearchBar.js"></script>
    <script src="~/js/AdvancedSearchResults.js"></script>
}