<div class="explore-page">

    <div class="search-container">
        @Html.Partial("_advancedSearch")
    </div>

    <div id="resultsContainer" class="results-grid"></div>

    <div id="loadingIndicator" class="loading">
        Loading more frames...
    </div>

</div>

@section Scripts {
    <script src="~/Js/AdvancedSearch.js"></script>
}